* text=auto !eol
/article.html -text
/article_spip2.html -text
/article_spip3.html -text
contenu/article.html -text
contenu/rubrique.html -text
/inc-entete.html -text
/inc-rubriques.html -text
inclure/entete.html -text
inclure/header.html -text
inclure/menu_langues.html -text
inclure/nav.html -text
inclure/rubrique_spip3.html -text
inclure/rubriques.html -text
lang/multilingue.xml -text
lang/multilingue_fr.php -text
lang/paquet-multilingue_fr.php -text
/paquet.xml -text
/plugin.xml -text
prive/squelettes/contenu/configurer_multilingue.html -text
prive/themes/spip/images/multilingue-128.png -text
prive/themes/spip/images/multilingue-32.png -text
prive/themes/spip/images/multilingue-64.png -text
/rubrique.html -text
/rubrique_spip2.html -text
/rubrique_spip3.html -text
/sommaire.html -text
